<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                 <div class="col-md-12">
                     <div class="well">
                        <p>Want to show your experience for today</p>
                        <a class="btn btn-info" role="button" href="/account/show">Share your experience</a>
                     </div>
                 </div>
             </div>

             <div class="row">
                <div class="col-md-12">
                    <div class="card card-cascade wider">
                        <% @posts.each do |post| %>
                            <div class="view overlay">
                                <img class="card-img-top" src="<%= post.images%>" alt="Card image cap">
                                <a href="#!"> <div class="mask rgba-white-slight"></div></a>
                            </div>
                            <div class="card-body">
                                <p></p>
                            </div>
                            <div class="card-body card-body-cascade text-center">
                                <!-- Title -->
                                <h4 class="blue-text pb-2"><strong>Quote for today</strong></h4>
                                <!-- Text -->
                                <p class="card-text"><%= post.reference %></p>
                            </div>
                        <% end %>
                    </div>
                </div>
             </div>
        </div>
    </div>    
</div>





