<p>Want to show your experience for today</p>
<a href="/account/show">Share your experience</a>
<div class="card" style="width: 18rem;">
    <% @posts.each do |post| %>
        <img class="card-img-top" src="<%= post.images%>" alt="Card image cap">
        <div class="card-body">
            <p><%= post.reference %></p>
        </div>
    <% end %>
</div>