<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                 <div class="col-md-12">
                     <div class="well">
                        <h1>Welcome To DemoRails</h1>
                        <p><strong> Please here to go to account page or use the nav bar</strong></p>
                        <a class="btn btn-info" role="button" href="/account">Account</a>
                     </div>
                 </div>
             </div>
        </div>
    </div>
</div>